<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 l3">
        <h2>Light 1</h2>
        <figure class="fig-device">
          <img src="assets/light.svg" alt="" />
        </figure>
        <p-inputSwitch [(ngModel)]="checked11" styleClass="switch-ctrl" (ngModelChange)="onChecked11Change($event)"></p-inputSwitch>
      </div>
      <div class="col s12 m6 l3">
        <h2>Fan 1</h2>
        <figure class="fig-device">
          <img src="assets/fan.svg" alt="" />
        </figure>
        <p-slider [(ngModel)]="slider21" [range]="true" [min]="0" [max]="7" [step]="1" [animate]="true" styleClass="slider-ctrl"
          (ngModelChange)="onSlider21Change($event)"></p-slider>
        <img class="img-slider" src="assets/scale_blk_small.png" alt="" />
      </div>
      <div class="col s12 m6 l3">
        <h2>Air Conditioner</h2>
        <figure class="fig-device">
          <img src="assets/air-cond.svg" alt="" />
        </figure>
        <!-- Modal Trigger -->
        <a class="waves-effect waves-dark btn modal-trigger amber btn-opt" (click)="showACDialog();">Options</a>

        <p-dialog header="Air Conditioner" [(visible)]="acDialog" modal="true" responsive="true" closeOnEscape="true" dismissableMask="true">
          <p-inputSwitch [(ngModel)]="checked341" styleClass="switch-ctrl_modal" (ngModelChange)="onChecked341Change($event)"></p-inputSwitch>
          <p-slider [(ngModel)]="slider341" [range]="true" [min]="16" [max]="23" [step]="1" [animate]="true" styleClass="slider-ctrl_modal"
            (ngModelChange)="onSlider341Change($event)"></p-slider>
            <img src="assets/scale_blk_large.png" alt="" />
          <table class="tbl-ac">
            <tr>
              <td><a id="ACTU" name="13" (click)="onACbuttonsClicked($event);" class="ACBtn waves-effect waves-dark btn amber lighten-2 popup-btn-font">Turbo</a></td>
              <td>
                <a id="ACQU" name="14" (click)="onACbuttonsClicked($event);" class="ACBtn waves-effect waves-dark btn amber lighten-2 popup-btn-font">Quiet</a>
              </td>
            </tr>
            <tr>
              <td>
                <a id="ACPS" name="12" (click)="onACbuttonsClicked($event);" class="ACBtn waves-effect waves-dark btn amber lighten-2 popup-btn-font">Power <br>Saver</a>
              </td>
              <td>
                <a id="ACSW" name="30"  (click)="onACbuttonsClicked($event);" class="ACBtn waves-effect waves-dark btn amber lighten-2 popup-btn-font">Swing</a>
              </td>
            </tr>
          </table>
          <div class="popBtns clearfix" data-demo-html="true">
          </div>
        </p-dialog>

      </div>
      <div class="col s12 m6 l3">
        &nbsp;
      </div>
    </div>
  </div>