<div class="section no-pad-bot" id="index-banner">
  <div class="container">
    <form [formGroup]="chngpwdForm" (ngSubmit)="onSubmit(chngpwdForm.value)">
      <p-panel header="Change Password">
        <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid dv-sched">
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              Old Password: <span class="red-ast">*</span> 
            </div>
            <div class="ui-grid-col-5">
              <input pInputText type="password" [formControl]="chngpwdForm.controls['oldpwd']" placeholder="Required - Min(6) - Max(10)" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!chngpwdForm.controls['oldpwd'].valid && chngpwdForm.controls['oldpwd'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="chngpwdForm.controls['oldpwd'].errors['required']">Old Password is required</span>
                <span *ngIf="chngpwdForm.controls['oldpwd'].errors['minlength']">Must be longer than 6 characters</span>
                <span *ngIf="chngpwdForm.controls['oldpwd'].errors['maxlength']">Must be less than 10 characters</span>
              </div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              New Password: <span class="red-ast">*</span> 
            </div>
            <div class="ui-grid-col-5">
              <input pInputText type="password" [formControl]="chngpwdForm.controls['newpwd']" placeholder="Required - Min(6) - Max(10)" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!chngpwdForm.controls['newpwd'].valid && chngpwdForm.controls['newpwd'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="chngpwdForm.controls['newpwd'].errors['required']">New Password is required</span>
                <span *ngIf="chngpwdForm.controls['newpwd'].errors['minlength']">Must be longer than 6 characters</span>
                <span *ngIf="chngpwdForm.controls['newpwd'].errors['maxlength']">Must be less than 10 characters</span>
              </div>
            </div>
          </div>
          <div class="ui-grid-row">
            <div class="ui-grid-col-3">
              Confirm Password: <span class="red-ast">*</span> 
            </div>
            <div class="ui-grid-col-5">
              <input pInputText type="password" [formControl]="chngpwdForm.controls['confirmpwd']" placeholder="Required - Min(6) - Max(10)" />
            </div>
            <div class="ui-grid-col-4">
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!chngpwdForm.controls['confirmpwd'].valid && chngpwdForm.controls['confirmpwd'].dirty">
                <i class="fa fa-close"></i>
                <span *ngIf="chngpwdForm.controls['confirmpwd'].errors['required']">Confirm Password is required</span>
                <span *ngIf="chngpwdForm.controls['confirmpwd'].errors['minlength']">Must be longer than 6 characters</span>
                <span *ngIf="chngpwdForm.controls['confirmpwd'].errors['maxlength']">Must be less than 10 characters</span>
              </div>
              <div class="ui-message ui-messages-error ui-corner-all" *ngIf="chngpwdForm.controls['oldpwd'].valid && chngpwdForm.controls['newpwd'].valid && chngpwdForm.controls['confirmpwd'].valid && !chngpwdForm.valid">
                <i class="fa fa-close"></i>
                <span>Passwords do not match</span>
              </div>
            </div>
          </div>
           <div class="ui-grid-row">
            <div class="ui-grid-col-3"></div>
            <div class="ui-grid-col-5">
              <button pButton type="submit" label="Change" [disabled]="!chngpwdForm.valid"></button>
            </div>
            <div class="ui-grid-col-4"></div>
          </div>
        </div>
      </p-panel>
    </form>
  </div>
</div>