nav{
    background-color: #1976d2 !important;
    width: 100%;
    color: #fff;
}

nav.top-nav {
    height: 80px;
    box-shadow: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}

nav .nav-wrapper {
    position: relative;
    height: 100%;
}

nav.top-nav a.page-title {
    line-height: 80px;
    font-size: 36px;
}

nav a {
    color: #fff;
}

.figlogonav
{
    margin: 0px 40px !important;
}

.imglogonav{
    padding-top: 15px;
}

.side-nav .collapsible-header:hover, .side-nav.fixed .collapsible-header:hover {
    background-color: rgba(221, 221, 221, 0.11) !important;
}

a.action-bar:hover {
    background-color: #1950d2 !important;
    padding-top: 4px;
}

/*a.button-collapse:hover {
    background-color: #1950d2 !important;
    padding-top: 4px;
}*/

.side-nav {
    background-color:#141D26; 
        overflow-y: initial !important;
            box-shadow: 4px 0 6px rgba(0,0,0,0.24);
}

.side-nav a
{
    padding: 0px 16px;
    color: white;
    font-weight: 300;   
}

a.bold.collapsible-header.waves-effect 
{
    border-top: solid 1px rgba(64, 74, 78, 0.45) !important;
    font-weight: 500;
}

.collapsible-body{
     background-color:#141D26 !important; 
     padding : 0 !important;
}

div.active {
    background-color: #1976d2 !important;
}

.side-nav .material-icons, .large-icons-on-large-only{
    color:rgba(255, 255, 255, 1) !important;
}

.dark{
    color: #757575 !important;
}

ul.side-nav.fixed div.logo {
    margin: 30px -40px;
    text-align: center;
}

.side-nav li a.logoIn {
    font-size: 35px;
    background: none;
    padding: 0;
    color: #fff;
    text-align: center;
    text-transform: Capitalize;
    text-decoration: none;
}

.collapsible-body li a {
    padding: 0px 37.5px 0px 90px !important;
}

a.button-collapse.top-nav.full {
    line-height: 80px;
}

a.button-collapse.top-nav i {
    font-size: 25px;
}

.app-toolbar-menu {
    padding: 0 14px 0 14px;
    color: white;
}

.app-toolbar-filler {
    flex: 1 1 auto;
}

.app-icon-button {
    box-shadow: none;
    user-select: none;
    background: none;
    border: none;
    cursor: pointer;
    filter: none;
    font-weight: normal;
    height: auto;
    line-height: inherit;
    margin: 0;
    min-width: 0;
    padding: 0;
    text-align: left;
    text-decoration: none;
}

.dropdown-content {
        min-width: 130px !important;
    top: 15px !important;
    /*margin-left: 50px !important;*/
    position: absolute !important;
    float: right !important;    
}


.dropdown-content li{
    min-height: 0 !important;
    line-height: 0 !important;
}

.dropdown-content li > a, .dropdown-content li > span {
   font-size: 16px;
    color: #757575 !important;
    display: block;
    line-height: 20px;
    padding: 12px 12px;
}

.row .col {
    float: left;
    box-sizing: border-box;
     padding: 0 0;
    min-height: 1px;
}

.dropdown-button{
    float: left;
}

.drag-target
{
    width: 2px !important;
}

div.search {
    position: absolute;
    left: 0;
    right: 0;
    padding: 32px 0px 5px 0;
    z-index: 2;
    }
div.search .search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease
}
div.search .search-wrapper.focused {
margin: 0 !important;
}
div.search .search-wrapper input#search {
    display: block;
    font-size: 16px !important;
    font-weight: 400 !important;
    width: 100%;
    height: 44px;
    margin: 0;
    padding: 0 0 0 15px;
    border: 0;
    color: black !important;
    }
div.search .search-wrapper input#search:focus {
    outline: none !important;
}
div.search .search-wrapper i.material-icons {
    position: absolute;
        top: 15px;
    right: 8px;
    cursor: pointer;
	font-size: 1.3rem;
	color: black !important;
	}
div.search .search-results {
    margin: 0;
    border-top: 1px solid #e9e9e9;
    background-color: #fff}
div.search .search-results a {
    font-size: 12px !important;
    white-space: nowrap;
	color: #039be5;
        font-weight: 400;
	}
div.search .search-results a:hover,div.search .search-results a.focused {
    background-color: #eee !important;
    outline: none !important;
	}

.card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: box-shadow .25s;
    border-radius: 2px;
}

.search-results a
{
	height: 45px;
    line-height: 45px !important;
	padding :0 30px !important;
}

div.search-wrapper {
    margin: 0 12px;
    transition: margin .25s ease;
}
div.search-wrapper.focused {
margin: 0 !important;
}

.dv-mrg-top{
    margin-top: 55px;
}

.side-nav .collapsible-header, .side-nav.fixed .collapsible-header{
        height: 43px !important;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons
{
    margin: 0 15px 0 0 !important;
}

.side-nav .collapsible-header i, .side-nav.fixed .collapsible-header i {
    line-height: 45px !important;
}

.side-nav li>a>i, .side-nav li>a>[class^="mdi-"], .side-nav li>a>[class*="mdi-"], .side-nav li>a>i.material-icons{
    height: 45px !important;
    width: 24px;
}

.ui-datatable table{
    border:  1px solid #D5D5D5
}

a.bold.collapsible-header.waves-effect.active{
    background-color:#37474F !important; 
}


.active-link{
    background-color:#1976d2 !important; 
}

input:not([type]):focus:not([readonly]){
    box-shadow: none !important; 
}

/********************************************MEDIA QUERIES********************************************/
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
    line-height: 80px;
}
}
/* Smartphones (portrait and landscape) ----------- */

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
    line-height: 80px;
}
}
/* Smartphones (landscape) ----------- */

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
    line-height: 80px;
}
}
/* Smartphones (portrait) ----------- */

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
/* Styles */
}

/* iPads  ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
header {
    padding-left: 0;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 80%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}   
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 84%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}
/* iPads  ----------- */

/**********
iPad 3
**********/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}

/* Large tablets (landscape) ----------- */
@media (min-width:1025px) { 
header {
    padding-left: 300px;
}
nav.top-nav a.page-title {
    line-height: 80px;
    font-size: 38px !important;
}
nav .nav-wrapper {
    text-align: left;
}
.container {
    width: 85%;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 60%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}

.large-icons-on-large-only{
    font-size: 30px !important;
}
 }
/* Large tablets (landscape) ----------- */

/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
header {
    padding-left: 300px;
}
nav.top-nav a.page-title {
    line-height: 80px;
    font-size: 38px !important;
}
nav .nav-wrapper {
    text-align: left;
}
.container {
    width: 85%;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 66%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}

.large-icons-on-large-only{
    font-size: 30px !important;
}
}
/* Desktops and laptops ----------- */

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}

/* iPhone 4 ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : landscape) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
    line-height: 80px;
}
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) and (orientation : portrait) and (-webkit-min-device-pixel-ratio : 2) {
/* Styles */
}
/* iPhone 4 ----------- */

/* iPhone 5 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88% !important;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}

@media only screen and (min-device-width: 320px) and (max-device-height: 568px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}
/* iPhone 5 ----------- */

/* iPhone 6 ----------- */
@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 84% !important;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}

@media only screen and (min-device-width: 375px) and (max-device-height: 667px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}
/* iPhone 6 ----------- */

/* iPhone 6+ ----------- */
@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 84%;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}

@media only screen and (min-device-width: 414px) and (max-device-height: 736px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    /*left: 7.5%;*/
    top: 0;
    float: none;
    /*margin-left: 1.5rem;*/
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 90%;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}
/* iPhone 6+ ----------- */

/* Samsung Galaxy S3 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 2){
/* Styles */
}

/* Samsung Galaxy S4 ----------- */
@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

@media only screen and (min-device-width: 320px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
/* Styles */
}

/* Samsung Galaxy S5 ----------- */
@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : landscape) and (-webkit-device-pixel-ratio: 3){
header {
    padding-left: 0;
}
nav .nav-wrapper a.page-title {
    font-size: 30px;
}
nav .nav-wrapper {
    text-align: center;
}
a.button-collapse.top-nav {
    position: absolute;
    text-align: center;
    height: 0px;
    width: 48px;
    top: 0;
    float: none;
    color: #fff;
    font-size: 25px;
    z-index: 2;
}

div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 84%;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}

@media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation : portrait) and (-webkit-device-pixel-ratio: 3){
div.action-bar {
    position: absolute;
    text-align: right;
    height: 0px;
    width: 88%;
    top: -5px;
    float: none;
    color: #fff;
    font-size: 40px;
    z-index: 2;
    line-height: 80px;
}
}
/* Samsung Galaxy S5 ----------- */
/********************************************MEDIA QUERIES********************************************/